.div-about {
  display: flex;
  justify-content: center;

  color: rgb(58, 117, 194);
  align-items: center;
}

.about-para {
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
}

.heading {
  display: flex;
  justify-content: center;
  color: rgb(41, 44, 49);
}
