.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(249, 255, 255, 0.465);
}

.home-para{
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
    align-items: justify;
    color:rgb(44, 49, 49)

}

.home-heading {
  font-size: 2.5rem;
  text-decoration: none;
  margin-bottom: 2rem;
  font-weight: bold;
  margin: 20px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-heading:hover{
    color: rgb(86, 95, 221);
}

.home-img {
  width: 40%;
  margin-bottom: 2rem;
   margin: 30px 0px;
}