body {
  background-color: rgb(233, 224, 214);
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(83, 53, 53);
}

h1:hover {
  color: rgb(86, 95, 221);
}

.table-css {
  font-weight: bold;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  margin-bottom: 20px;
  width: 250px;
  height: 40px;
  font-size: 20px;
}

.search-input {
  margin-top: 20px;
  width: 30%;
  /* padding: 10px; */
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


